@charset "UTF-8";
/*Colores*/
/*Font*/
.footer {
  position: static;
  bottom: 0%;
}

.footer__li {
  list-style: none;
}

.footer__a {
  color: #201f1f;
  font-size: 1.1rem;
  font-family: "Lato", sans-serif;
}

.footer__a:hover {
  color: #201f1f;
}

.footer .form {
  margin-top: 3%;
  font-family: "Lato", sans-serif;
  padding: 0%;
}

.container .my-5 {
  margin: 0%;
}

.p-newsletter {
  text-align: center;
  font-family: "Space Grotesk", sans-serif;
  font-size: 1.6rem;
}

.p-desarrollo {
  font-size: 11px;
  margin-top: 1%;
  font-family: "Lato", sans-serif;
  background-color: #e9e9e9;
}

.row .d-flex .justify-content-center {
  margin: 0px;
  margin-left: 0px;
  margin-right: 0px;
  width: 100%;
}

.div-boton {
  padding: 0%;
}

.boton-newsletter {
  color: #929090;
  height: 20%;
  border: none;
  border-radius: 0px;
  background-color: #fdfdfd;
  width: 20%;
  margin-left: 40%;
  font-family: "Lato", sans-serif;
}

.boton-newsletter:hover {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.col-md-5 .col-12 {
  padding: 0px;
  margin: 0px;
}

.text-center {
  font-family: "Lato", sans-serif;
}

/*Colores*/
/*Font*/
/*Colores*/
/*Font*/
/*Main Index*/
.carousel-caption {
  position: relative;
  margin-bottom: 10%;
  font-family: "Space Grotesk", sans-serif;
}

.carousel-indicators {
  position: relative;
}

.carousel-item {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  background-size: cover;
}

.div-categorias {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  gap: 1px 50px;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  margin-top: 2%;
}

.div-categorias img {
  width: 100%;
  display: inline-block;
  text-align: center;
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
}

.div-categorias img:hover {
  -webkit-filter: brightness(60%);
          filter: brightness(60%);
}

.div-categorias .a-categorias {
  position: relative;
  list-style: none;
  list-style-type: none;
}

.div-categorias .a-categorias .p-categorias {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-family: "Space Grotesk", sans-serif;
  font-size: 6rem;
  color: #fdfdfd;
  font-weight: bolder;
}

.titulo-categorias {
  font-family: "Space Grotesk", sans-serif;
  font-size: 4rem;
  text-align: center;
  margin-top: 4%;
}

/* Main Tienda*/
.nav-productos {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 70%;
  row-gap: 2%;
  width: 80%;
}

.nav-productos svg {
  margin-bottom: 3%;
}

.nav-productos__li {
  font-family: "Lato", sans-serif;
  text-align: center;
  list-style: none;
  list-style-type: none;
}

.nav-productos__a {
  color: #201f1f;
}

.nav-productos__a:hover {
  color: #201f1f;
}

.p-productos {
  margin-top: 5%;
  font-family: "Space Grotesk", sans-serif;
  font-weight: bolder;
  text-align: center;
}

.nav-nosotros, .nav-comprar {
  display: -ms-grid;
  display: grid;
  text-align: center;
  padding: 0%;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 1px 9px;
  margin-bottom: 0%;
}

.nav-nosotros__div, .nav-comprar__div {
  font-family: "Lato", sans-serif;
  font-size: 1.5rem;
}

/*Main Como comprar*/
.nav-comprar {
  text-align: left;
}

.nav-comprar__div {
  height: 100%;
}

.nav-comprar__div-mayusc {
  font-size: 1.5rem;
}

.nav-comprar__a {
  color: #201f1f;
}

.nav-comprar__a:hover {
  color: #201f1f;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

/* Main Cuenta*/
.main-cuenta {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  padding: 0%;
  gap: 1px 9px;
}

.form-check-label {
  font-family: "Lato", sans-serif;
  font-weight: normal;
  padding-left: 1%;
}

/* Main Contactanos*/
.main-form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  padding: 5%;
  gap: 2px 4%;
}

.main-form__texto {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  padding-bottom: 2%;
}

.main-form__texto-p {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  text-align: center;
}

.main-form__form {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: -1;
  grid-area: 2 / 2 / 2 / 1;
  text-align: left;
}

.main-form .col-auto__form {
  font-family: "Lato", sans-serif;
}

.main-form .col-auto__form .form-control {
  text-align: left;
}

/*Colores*/
/*Font*/
/*Header sticky*/
.sticky {
  width: 100%;
  height: auto;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.979);
}

/*Banner envios*/
.div-banner {
  background-color: #c7c4c2;
}

.div-banner .p-banner {
  text-align: center;
  font-family: "Space Grotesk", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  color: #fdfdfd;
  font-size: 1.3rem;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
}

/*Nav izquierdo*/
.offcanvas-body__li {
  list-style: none;
  list-style-type: none;
  padding-top: 10px;
  font-size: 1.5rem;
  color: #201f1f;
  font-family: "Lato", sans-serif;
}

.offcanvas-body__a {
  text-decoration: none;
  padding-top: 0px;
  padding-left: 20px;
  color: #201f1f;
}

.offcanvas-body__a:hover {
  color: #201f1f;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.offcanvas-body__a-tienda {
  color: #201f1f;
}

.offcanvas-body__a-tienda:hover {
  color: #201f1f;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

/*Nav derecho*/
.offcanvas-body .p-carrito {
  font-family: "Lato", sans-serif;
}

.offcanvas-body .p-carrito .a-carrito {
  color: #201f1f;
}

/*GENERAL*/
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  padding-right: 2%;
  padding-left: 2%;
  /*MEDIA QUERIES*/
  /*PANTALLAS PEQUEÑAS*/
  /*PANTALLAS MEDIANAS*/
  /*PANTALLAS GRANDES*/
}

@media only screen and (min-width: 320px) {
  body {
    /*Banner envios*/
    /*Logo*/
    /*Productos tienda*/
    /*Sección categoria Index*/
    /*seccion carousel*/
    /*Seccion Nosotros*/
    /*Formulario de contacto*/
    /*Footer*/
  }
  body .div-banner {
    position: -webkit-sticky;
    position: sticky;
  }
  body .div-banner .p-banner {
    font-size: 11px;
  }
  body .text-center .img-logo {
    width: 75%;
    padding-left: 25%;
  }
  body .nav-productos {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    gap: 0%;
    width: 80%;
    margin: auto;
  }
  body .nav-productos__img {
    width: 100%;
  }
  body .p-productos {
    font-size: 2.5rem;
  }
  body .col-md-5 .col-12 {
    padding: 0%;
  }
  body .titulo-categorias {
    font-size: 2.6rem;
  }
  body .div-categorias {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    row-gap: 2%;
    margin-top: 2%;
    margin-bottom: 22%;
  }
  body .carousel-indicators {
    padding-bottom: 23%;
  }
  body .carousel-caption p {
    padding-bottom: 40%;
  }
  body .nav-nosotros__div, body .nav-comprar__div {
    font-size: 1.5rem;
    padding-bottom: 10%;
  }
  body .main-form__texto-p {
    font-size: 1.2rem;
  }
  body footer {
    position: static;
    bottom: 0%;
  }
}

@media only screen and (min-width: 576px) {
  body {
    /*Banner envios*/
    /*Logo*/
    /*Productos tienda*/
    /*Sección categoria Index*/
    /*seccion carousel*/
    /*Formulario de contacto*/
  }
  body .div-banner .p-banner {
    font-size: 1.2rem;
  }
  body .text-center .img-logo {
    width: 65%;
    padding-left: 30%;
  }
  body .nav-productos {
    padding-left: 0%;
  }
  body .p-productos {
    font-size: 3rem;
  }
  body .div-categorias {
    margin-left: 4%;
    margin-right: 4%;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    row-gap: 5%;
    margin-bottom: 35%;
  }
  body .titulo-categorias {
    font-size: 3.2rem;
  }
  body .col-md-5 .col-12 {
    padding: 0px;
    margin: 0px;
  }
  body .carousel-indicators {
    padding-bottom: 15%;
  }
  body .carousel-caption p {
    padding-bottom: 20%;
  }
  body .main-form__texto-p {
    font-size: 1.4rem;
  }
}

@media only screen and (min-width: 768px) {
  body {
    /*Banner Envios*/
    /*Logo*/
    /*Productos tienda*/
    /*Formulario contacto*/
    /*Seccion categoria productos Index*/
    /*seccion carousel*/
  }
  body .div-banner .p-banner {
    font-size: 1.2rem;
  }
  body .text-center .img-logo {
    width: 60%;
    padding-left: 35%;
  }
  body .nav-productos {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    gap: 10%;
    row-gap: 2%;
    width: 80%;
    padding-left: 0px;
  }
  body .p-productos {
    font-size: 3.5rem;
  }
  body .main-form__texto-p {
    font-size: 1.5rem;
  }
  body .div-categorias {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    row-gap: 5%;
    margin-bottom: 10%;
  }
  body .titulo-categorias {
    font-size: 4rem;
  }
  body .col-md-5 .col-12 {
    padding: 0px;
    margin: 0px;
  }
  body .carousel-indicators {
    padding-bottom: 10%;
  }
  body .carousel-caption p {
    padding-bottom: 5%;
  }
}

@media only screen and (min-width: 992px) {
  body {
    /*Logo*/
    /*Productos tienda*/
    /*Seccion categoria productos Index*/
    /*seccion carousel*/
    /*Seccion Nosotros*/
  }
  body .text-center .img-logo {
    width: 60%;
    padding-left: 36%;
  }
  body .p-productos {
    font-size: 3.5rem;
  }
  body .div-categorias {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    row-gap: 3%;
    margin-right: 0%;
    margin-left: 0%;
    margin-bottom: 5%;
  }
  body .titulo-categorias {
    font-size: 4rem;
  }
  body .col-md-5 .col-12 {
    padding: 0px;
    margin: 0px;
  }
  body .carousel-indicators {
    padding-bottom: 3%;
  }
  body .carousel-caption p {
    padding-bottom: 2%;
  }
  body .nav-nosotros, body .nav-comprar {
    padding-top: 10%;
  }
  body .nav-nosotros__div, body .nav-comprar__div {
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 1024px) {
  body {
    /*Logo*/
    /*Productos tienda*/
    /*Footer*/
    /*Seccion categoria productos Index*/
    /*seccion carousel*/
  }
  body .text-center .img-logo {
    width: 55%;
    padding-left: 37%;
  }
  body .nav-productos {
    display: -ms-grid;
    display: grid;
    float: center;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    gap: 7%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 1%;
    margin-bottom: 3%;
    padding-left: 0%;
  }
  body .p-productos {
    font-size: 4rem;
  }
  body .row.d-flex.justify-content-center {
    margin: 0px;
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
  }
  body .div-boton {
    padding: 0px;
  }
  body .div-categorias {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    row-gap: 3%;
  }
  body .titulo-categorias {
    font-size: 4rem;
  }
  body .col-md-5 .col-12 {
    padding: 0px;
    margin: 0px;
  }
  body .carousel-indicators {
    padding-bottom: 3%;
  }
  body .carousel-caption p {
    padding-bottom: 2%;
  }
}
/*# sourceMappingURL=estilos.css.map */