.boton-newsletter {
  color: #929090;
  height: 20%;
  border: none;
  border-radius: 0px;
  background-color: #fdfdfd;
  width: 20%;
  margin-left: 40%;
  font-family: 'Space Grotesk', sans-serif;
}

.boton-newsletter:hover {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.div-newsletter {
  text-align: center;
}

.text-center {
  font-family: 'Space Grotesk', sans-serif;
}

.footer {
  position: static;
}

.footer__li {
  list-style: none;
}

.footer__a {
  font-size: 12px;
  color: #201f1f;
}

.footer__a:hover {
  color: #201f1f;
}

.footer .form {
  margin-top: 3%;
  font-family: 'Space Grotesk', sans-serif;
  padding: 0%;
}

.container .my-5 {
  margin: 0%;
}

marquee {
  margin: 2%;
}

marquee a {
  font-size: 25px;
  color: #f7f3f4;
  text-decoration: none;
  list-style-type: none;
  font-family: 'Space Grotesk', sans-serif;
  letter-spacing: 3px;
  background-color: rgba(133, 97, 76, 0.664);
}

marquee a:hover {
  color: #f7f3f4;
  text-decoration: none;
  list-style-type: none;
}

/*Imagenes tienda*/
.nav-productos {
  display: -ms-grid;
  display: grid;
  float: center;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 7%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 9%;
  margin-bottom: 15%;
}

.nav-productos__a {
  display: -ms-grid;
  display: grid;
  text-decoration: none;
  list-style-type: none;
  margin: 0;
}

.nav-productos__a:hover {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #201f1f;
}

.nav-productos__img {
  width: 90%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  float: center;
  text-align: center;
  margin: 0px;
}

.nav-productos__p {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  float: center;
  text-justify: center;
  font-family: 'Lato', sans-serif;
  letter-spacing: 2px;
  margin-top: 3%;
  font-size: 15px;
  color: #201f1f;
}

/*Texto sobre nosotros*/
.nav-nosotros, .nav-comprar {
  display: -ms-grid;
  display: grid;
  text-align: center;
  padding: 5%;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 1px 9px;
}

.nav-nosotros__div, .nav-comprar__div {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 16px;
}

/*texto como comprar*/
.nav-comprar {
  text-align: left;
}

.nav-comprar__div {
  height: 100%;
}

.nav-comprar__div-mayusc {
  font-size: 18px;
}

.nav-comprar__a {
  color: #201f1f;
}

.nav-comprar__a:hover {
  color: #201f1f;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

/*cuenta*/
.main-cuenta {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  padding: 0%;
  gap: 1px 9px;
}

/*contactanos*/
.main-form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  padding: 5%;
  gap: 2px 4%;
}

.main-form__texto {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  padding-bottom: 2%;
}

.main-form__texto-p {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 17px;
  text-align: center;
}

.main-form__form {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: -1;
  grid-area: 2 / 2 / 2 / 1;
  text-align: left;
}

.main-form .col-auto__form {
  font-family: 'Space Grotesk', sans-serif;
}

.main-form .col-auto__form .form-control {
  text-align: left;
}

/*Carrito*/
.nav-carrito {
  margin: 5%;
  font-family: 'Space Grotesk', sans-serif;
  font-size: 16px;
  text-align: center;
}

.boton-tienda {
  margin-top: 2%;
  width: 20%;
  background-color: #2e2a2a;
  color: white;
  border: none;
  font-size: 15px;
  border-radius: 0px;
}

.boton-tienda:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.sticky {
  width: 100%;
  height: 90px;
  padding-top: 0px;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 10;
  background: rgba(255, 255, 255, 0.849);
}

/*Logo*/
.col-auto {
  position: fixed;
  margin-top: 1%;
  height: 8%;
}

/*Nav izquierdo*/
.icono-nav-izquierdo {
  z-index: -100;
  list-style: none;
  list-style-type: none;
  text-decoration: none;
  padding-top: 30px;
}

.hamburguesa {
  margin-top: 20px;
  margin-left: 20px;
  width: 1%;
  position: fixed;
}

.hamburguesa:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.offcanvas-body__li {
  list-style: none;
  list-style-type: none;
  padding-top: 10px;
  font-size: 19px;
  letter-spacing: 3px;
  color: #201f1f;
  font-family: 'Space Grotesk', sans-serif;
  font-weight: bolder;
}

.offcanvas-body__a {
  text-decoration: none;
  padding-top: 0px;
  color: #201f1f;
}

.offcanvas-body__a:hover {
  color: #201f1f;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.form-buscar-oculto {
  font-size: 18px;
}

/*Nav derecho*/
.navbar-derecha {
  text-align: right;
  margin-top: 20px;
}

.navbar-derecha__li {
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  margin-right: 1.7%;
  list-style: none;
  list-style-type: none;
  display: inline;
}

.navbar-derecha__li .bag {
  width: 22px;
}

.navbar-derecha__li .bag:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.navbar-derecha__li .login {
  width: 31px;
  list-style: none;
}

.navbar-derecha__li .login:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.navbar-derecha__a {
  text-decoration: none;
}

.navbar-derecha__a-li {
  list-style: none;
}

.navbar-derecha .form-buscar {
  text-align: right;
  padding-left: 80%;
  padding-top: 0.5%;
  width: 100%;
  height: 30px;
  font-family: 'Space Grotesk', sans-serif;
  font-size: 11px;
}

.navbar-derecha .input-font {
  width: 50%;
  text-align: center;
  border: solid, 2px;
  margin: 0%;
  padding: 0%;
}

/*GENERAL*/
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  padding-left: 2%;
  padding-right: 2%;
  width: 100%;
}

@media only screen and (min-width: 200px) {
  body .col-auto {
    width: 45%;
    height: 11%;
    margin-left: 23%;
  }
  body .hamburguesa {
    width: 7.5%;
  }
  body .form-buscar {
    display: none;
  }
  body .form-buscar-oculto {
    display: block;
  }
  body .nav-productos {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    gap: 0%;
    width: 80%;
    margin: auto;
  }
  body .nav-productos__img {
    width: 100%;
  }
  body .main-form__texto-p {
    font-size: 14px;
  }
  body .nav-comprar__div {
    font-size: 14px;
  }
  body .nav-comprar__div-mayusc {
    font-size: 15px;
  }
  body .boton-tienda {
    width: 30%;
    font-size: 13px;
  }
}

@media only screen and (min-width: 320px) {
  body .col-auto {
    width: 45%;
    height: 11%;
    margin-left: 23%;
  }
  body .hamburguesa {
    width: 7.5%;
  }
  body .form-buscar {
    display: none;
  }
  body .form-buscar-oculto {
    display: block;
  }
  body .nav-productos {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    gap: 0%;
    width: 80%;
    margin: auto;
  }
  body .nav-productos__img {
    width: 100%;
  }
  body__texto-p {
    font-size: 16px;
  }
  body .nav-comprar__div {
    font-size: 14px;
  }
  body .nav-comprar__div-mayusc {
    font-size: 15px;
  }
  body .boton-tienda {
    width: 40%;
    font-size: 14px;
  }
}

@media only screen and (min-width: 576px) {
  body .col-auto {
    height: 14%;
    margin-left: 25%;
  }
  body .hamburguesa {
    width: 5%;
  }
  body .nav-productos {
    margin: auto;
    width: 70%;
  }
  body .nav-productos__a {
    margin-top: 2%;
  }
  body .nav-productos__img {
    width: 100%;
  }
  body .nav-productos__p {
    margin-top: 0%;
  }
  body .nav-productos .nav-comprar__div {
    font-size: 15px;
  }
  body .nav-productos .nav-comprar__div-mayusc {
    font-size: 15px;
  }
  body .nav-productos .boton-tienda {
    width: 30%;
    font-size: 14px;
  }
}

@media only screen and (min-width: 768px) {
  body .hamburguesa {
    width: 5%;
  }
  body .nav-productos {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    gap: 10%;
    row-gap: 2%;
    width: 80%;
  }
  body marquee {
    margin-top: 20%;
  }
  body .marquee-esp {
    margin-top: 2%;
  }
  body .main-form__texto-p {
    font-size: 15px;
  }
  body .nav-comprar__div {
    font-size: 15px;
  }
  body .boton-tienda {
    width: 30%;
    font-size: 14px;
  }
}

@media only screen and (min-width: 992px) {
  body .sticky {
    height: 110px;
  }
  body .col-auto {
    margin-left: 25%;
  }
  body .hamburguesa {
    width: 4%;
  }
  body .form-buscar {
    display: block;
  }
  body .form-buscar-oculto {
    width: 20%;
    display: none;
  }
}

@media only screen and (min-width: 1024px) {
  body .sticky {
    height: 110px;
  }
  body .col-auto {
    padding-bottom: 0.5%;
    height: 17%;
    margin-left: 23%;
  }
  body .form-buscar {
    display: block;
  }
  body .form-buscar-oculto {
    display: none;
  }
  body .hamburguesa {
    width: 2.5%;
  }
  body .nav-productos {
    display: -ms-grid;
    display: grid;
    float: center;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    gap: 7%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 9%;
    margin-bottom: 15%;
  }
  body marquee {
    margin-top: 0%;
  }
  body .boton-tienda {
    width: 20%;
    font-size: 14px;
  }
}
/*# sourceMappingURL=estilos.css.map */