$font_color: rgb(32, 31, 31);
$font_h2:rgb(6, 75, 117);
$color_input_form: rgba(231, 231, 231, 0.705);
$color_boton: rgba(179, 177, 175, 0.705);
$bg_nav_index: rgba(219, 162, 83, 0.973);
$bg_sticky: rgba(255, 255, 255, 0.849);
$bg_banner: radial-gradient(circle at 0% 100%, #d8d086 0, #d9c679 12.5%, #dabb6c 25%, #dbaf5f 37.5%, #dba253 50%, #db9448 62.5%, #dc8741 75%, #dd793d 87.5%, #de6c3c 100%);
$bg_nav_responsive:rgba(241, 240, 240, 0.733);
$bg_input:rgba(231, 231, 231, 0.705);
$bg_fondo_footer:rgb(122, 108, 108);