@import "colores";
$medida_general:17px;
@mixin font {
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
}


.boton-newsletter{
    color:rgb(146, 144, 144);
    height: 20%;
    border: none;
    border-radius: 0px;
    background-color: rgb(253, 253, 253);
    width: 20%;
    margin-left: 40%;
    font-family: 'Space Grotesk', sans-serif;
    &:hover{
        text-decoration-line: underline;
    }
}
.div-newsletter{
    text-align: center;
}

.text-center{
    font-family: 'Space Grotesk', sans-serif;
}

.footer{
    position: static;
    &__li{
        list-style: none;
    }
    &__a{
        font-size: ($medida_general)-5;
        color: $font_color;
        &:hover{
            color: $font_color;
        }
    }
    .form{
        margin-top: 3%;
        font-family: 'Space Grotesk', sans-serif;
        padding: 0%;
    
    }
    
}
.container .my-5{
    margin:0%
}



marquee{
    margin: 2%;
    a{
        font-size: 25px;
        color:rgb(247, 243, 244);
        text-decoration: none;
        list-style-type: none;
        font-family: 'Space Grotesk', sans-serif;
        letter-spacing: 3px;
        background-color:rgba(133, 97, 76, 0.664); 
        &:hover{
            color:rgb(247, 243, 244);
            text-decoration: none;
            list-style-type: none;
        }
    }
}