@import "varios";
@mixin li {
    list-style: none;
    list-style-type: none;
    
}

/*Main Index*/

.carousel-caption{
    position: relative;
    margin-bottom: 10%;
    font-family: $font_space;
}
.carousel-indicators{
    position: relative;
}
.carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.div-categorias{
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-auto-rows: 1fr; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 1px 50px; 
    grid-template-columns: repeat(3, 1fr);
    margin-top: 2%;
    img{
        width: 100%;
        display: inline-block;
        text-align: center;
        filter: brightness(80%);
        &:hover{
            filter: brightness(60%);
        }
    }
    .a-categorias{
        position: relative;
        @include li;
        .p-categorias{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-family:$font_space;
            font-size: 6rem;
            color: $color_blanco;
            font-weight: bolder;
        }
    }
}

.titulo-categorias{
    font-family: $font_space;
    font-size: 4rem;
    text-align: center;
    margin-top: 4%;
}

/* Main Tienda*/
.nav-productos{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 70%;
    row-gap: 2%;
    width: 80%;
    svg{
        margin-bottom: 3%;
    }
    &__li{
        font-family:$font_lato;
        text-align: center;
        @include li;
    }
    &__a{
        color: $font_color;
        &:hover{
            color: $font_color;
        }
    }
}



.p-productos{
    margin-top: 5%;
    font-family:$font_space;
    font-weight: bolder;
    text-align: center;
}


.nav-nosotros{
    display: grid;
    text-align: center;
    padding: 0%;
    grid-auto-columns: 1fr; 
    grid-auto-rows: 1fr; 
    grid-template-columns: 1fr; 
    gap: 1px 9px; 
    margin-bottom: 0%;
    &__div{
        font-family:$font_lato;
        font-size: 1.5rem;
    }
}

/*Main Como comprar*/

.nav-comprar{
    @extend .nav-nosotros;
    text-align: left;
    &__div{
        @extend.nav-nosotros__div;
        height: 100%;
    }
    &__div-mayusc{
        font-size: 1.5rem;
    }
    &__a{
        color: $font_color;
        &:hover{
            color: $font_color;
            text-decoration-line: underline;
        }
        
    }
}

/* Main Cuenta*/

.main-cuenta{
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-auto-rows: 1fr; 
    grid-template-columns: 1fr; 
    padding: 0%;
    gap: 1px 9px;
}

.form-check-label{
    font-family:$font_lato;
    font-weight: normal;
    padding-left: 1%;
}

/* Main Contactanos*/

.main-form{
    display: grid; 
    grid-template-columns: repeat(1, 1fr);
    padding: 5%;
    gap: 2px 4%;
    &__texto{
        align-self: center;
        justify-self: center;
        padding-bottom: 2%;
        &-p{
            font-family:$font_lato;
            font-size: 1rem;
            text-align: center;
        }
    }
    &__form{
        grid-area: 2 / 2 / 2 / 1; 
        text-align: left;
    }
    .col-auto__form{
        font-family: $font_lato;
        .form-control{
            text-align: left;
        }
    }
}
