@import "colores";
$medida_general:17px;
@mixin font {
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
}

/*Imagenes tienda*/
.nav-productos{
    display: grid;
    float: center;
    grid-template-columns: repeat(auto-fill, 25%);
    gap: 10%;
    justify-content:center;
    padding-top:9%;
    margin-bottom: 20%;
    &__a{
        display: grid;
        text-decoration: none;
        list-style-type: none;
        margin:0;
        &:hover{
        text-decoration-line: underline;
        color: $font_color;
        }
    }
    &__img{
        width: 100%;
        justify-content: center;
        float: center;
        text-align:center;
        margin:0px;
        
    }
    &__p{
        display: grid;
        justify-content: center;
        float: center;
        text-justify: center;
        font-family: 'Lato', sans-serif;
        letter-spacing: 2px;
        margin-top: 3%;
        font-size: ($medida_general)-2;
        color: $font_color;
    }
}




/*Texto sobre nosotros*/
.nav-nosotros{
    display: grid;
    text-align: center;
    padding: 5%;
    grid-auto-columns: 1fr; 
    grid-auto-rows: 1fr; 
    grid-template-columns: 1fr; 
    gap: 1px 9px; 
    &__div{
        font-family: 'Space Grotesk', sans-serif;
        font-size: ($medida_general)-1;
    }
}

/*texto como comprar*/

.nav-comprar{
    @extend .nav-nosotros;
    text-align: left;
    &__div{
        @extend.nav-nosotros__div;
        height: 100%;
    }
    &__div-mayusc{
        font-size: $medida_general+1;
    }
    &__a{
        color: $font_color;
        &:hover{
            color: $font_color;
            text-decoration-line: underline;
        }
        
    }
}

/*cuenta*/

.main-cuenta{
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-auto-rows: 1fr; 
    grid-template-columns: 1fr; 
    padding: 0%;
    gap: 1px 9px;

}


/*contactanos*/

.main-form{
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-auto-rows: 1fr; 
    grid-template-columns: 1fr 1fr; 
    padding: 5%;
    gap: 2px 4%;
    &__texto{
        grid-area: 1 / 1 / 2 / 2;
        text-align: left;
        align-self: center;
        justify-self: center;
        &-p{
            font-family: 'Space Grotesk', sans-serif;
            font-size: ($medida_general)+1;
        }
    }
    &__form{
        grid-area: 1 / 2 / 2 / 3; 
        text-align: left;
    }
    .col-auto{
        font-family: 'Space Grotesk', sans-serif;
        .form-control{
            text-align: left;
        }
    }
}