$medida_general:17px;

/*MEDIA QUERIES*/
/*index*/
@media only screen and (max-width: 415px) {
    .logoInicio{
        display: flex;
        justify-content: center;
        margin: 60px 20px 20px 20px;
        height: 150px;
    }

    .barraInicio{
        display: flex;
        justify-content: center;
        height: 80px;
        padding:70px 0px 0px 0px;

    }

    .barraInicio li{
        width: 200px;
        font-size: ($medida_general)-4;
    }
}

@media only screen and (max-width: 768px) and (min-width: 415px) {
    .logoInicio{
        display: flex;
        justify-content: center;
        margin: 60px 20px 20px 20px;
        height: 220px;
    }

    .barraInicio{
        display: flex;
        justify-content: center;
        padding:70px 0px 0px 0px;

    }
    .barraInicio li{
        width: 250px;
    }
}

@media only screen and (max-width: 1024px) and (min-width: 768px) {
    .logoInicio{
        display: flex;
        justify-content: center;
        margin: 60px 20px 20px 20px;
        height: 300px;
    }

    .barraInicio{
        display: flex;
        justify-content: center;
        padding:70px 0px 0px 0px;

    }
}
@media only screen and (min-width: 1024px) {
    .logoInicio{
        display: flex;
        justify-content: center;
        margin: 60px 20px 15px 20px;
        height: 300px;
    }

    .barraInicio{
        display: flex;
        justify-content:left;
        padding:50px 0px 0px 70px;

    }
}

*:focus {
    outline: 0 !important;
}

/*MEDIA QUERIES*/
/*tienda*/



@media only screen and (max-width: 1024px) and (min-width: 768px){

    body{
        padding-left: 0px;
        padding-right: 5px;
    }
    .envios{
        display: flex;
        padding-right: 100px;
        font-size: ($medida_general)-5;

    }
    .navPrincipal{
        display: none;
    }

    .listaProductos{
        display: none;
    }

    .logoGeneral{
        padding-right: 270px;

    }

    .logoGeneral img{
        width: 300px;
    }

}

@media only screen and (max-width: 768px) and (min-width: 600px){

    body{
        padding-left: 0px;
        padding-right: 0px;
    }
    .navPrincipal{
        display: none;
    }

    .listaProductos{
        display: none;
    }

    .envios{
        font-size: ($medida_general)-7;
        padding-left: 50px;
    }

    .logoGeneral img{
        width: 300px;
        padding-right: 50px;
    }

    .ventasGeneral{
        padding-left: 220px;
    }
    .ventasGeneral img{
        width: 250px;
    }

    .ventasGeneral p{
        padding-right: 150px;
        font-size: ($medida_general)-7;
    }

    div h2{
        width: 500px;
        padding-left: 350px;
        font-size: ($medida_general);
    }

    footer{
        padding-left: 0px;

    }

    footer p{
        font-size: ($medida_general)-7;
    }

    footer li a{
        font-size: ($medida_general)-7;

    }
}


@media only screen and (max-width: 600px) and (min-width: 400px){
    body{
        padding-left: 0px;
        padding-right: 0px;
    }

    .navPrincipal{
        display: none;
    }

    .logoGeneral{
        display: flex;;
        padding-right: 180px;

    }

    .logoGeneral img{
        width: 300px;
    }

    .listaProductos{
        display: none;
    }

    .envios{
        font-size: ($medida_general)-9;
        width: 100%;
        padding-right: 50px;
    }

    .ventasGeneral{
        padding-left: 180px;

    }

    .ventasGeneral img{
        width: 200px;
    }

    .ventasGeneral p{
        padding-right: 200px;
        font-size: ($medida_general)-7;
    }
    div h2{
        width: 400px;
        padding-right: 10px;
        padding-left: 50px;
        font-size: ($medida_general)-2;
    }

    footer{
        padding-left: 0px;

    }

    footer p{
        font-size: ($medida_general)-9;
    }

    footer li a{
        font-size: ($medida_general)-9;

    }
}

/*Navbar Responsive*/

@media only screen and (min-width: 1024px){

.responsive{
    display: none;

}
}
