@import "footer";
@import "varios";
@import "main";
@import "header";


/*GENERAL*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100%;
    padding-right: 2%;
    padding-left: 2%;
    /*MEDIA QUERIES*/

    /*PANTALLAS PEQUEÑAS*/
    @media only screen and (min-width: 320px){
        
        /*Banner envios*/
        .div-banner{
            position: sticky;
            .p-banner{
                font-size: 11px;
            }
            
        }
        /*Logo*/
        .text-center{
            .img-logo{
                width: 75%;
                padding-left: 25%;
            }
        }
        /*Productos tienda*/
        .nav-productos{
            grid-template-columns: repeat(1, 1fr);
            gap: 0%;
            width: 80%;
            margin: auto;
            &__img{
                width: 100%;
                }
        }
        .p-productos{
            font-size: 2.5rem;
        }
        .col-md-5 .col-12{
            padding: 0%;
        }
        /*Sección categoria Index*/
        .titulo-categorias{
            font-size: 2.6rem;
        }
        .div-categorias{ 
            grid-template-columns: repeat(1, 1fr);
            row-gap: 2%;
            margin-top: 2%;
            margin-bottom: 22%;
        }
        /*seccion carousel*/
        .carousel-indicators{
            padding-bottom: 23%;
        }
        .carousel-caption{
            p{
                padding-bottom: 40%; 
            }
            
        }
        /*Seccion Nosotros*/
        .nav-nosotros{
            &__div{
                font-size: 1.4rem;
                padding-top: 15%;
                padding-bottom: 15%;
            }
        }
        /*Formulario de contacto*/
        .main-form__texto-p{
            font-size: 1.2rem;
        }
        /*Footer*/
        footer{
            position: relative;
            bottom: 0%;
        }
    }
    @media only screen and (min-width: 576px){
        /*Banner envios*/
        .div-banner{
            .p-banner{
                font-size: 1.2rem;
            }
        }
        /*Logo*/
        .text-center{
            .img-logo{
                width: 65%;
                padding-left: 30%;
            }
        }
        /*Productos tienda*/
        .nav-productos{
            padding-left: 0%;
            }
        .p-productos{
                font-size: 3rem;
            }
        /*Sección categoria Index*/
        .div-categorias{
            margin-left: 4%;
            margin-right: 4%;
            grid-template-columns: repeat(1, 1fr);
            row-gap: 5%;
            margin-bottom: 35%;
        }
        .titulo-categorias{
            font-size: 3.2rem;
        }
        .col-md-5 .col-12{
            padding: 0px;
            margin: 0px;
        }
        /*seccion carousel*/
        .carousel-indicators{
            padding-bottom: 15%;
        }
        .carousel-caption{
            p{
                padding-bottom: 20%; 
            }
            
        }
        /*Formulario de contacto*/
        .main-form__texto-p{
            font-size: 1.4rem;
        }
        /*Seccion Nosotros*/
        .nav-nosotros{
            &__div{
                font-size: 1.4rem;
                padding-top: 5%;
                padding-bottom: 10%;
            }
        }
    }
    /*PANTALLAS MEDIANAS*/
    @media only screen and (min-width: 768px){
        /*Banner Envios*/
        .div-banner{
            .p-banner{
                font-size: 1.2rem;
            }
        }
        /*Logo*/
        .text-center{
            .img-logo{
                width: 60%;
                padding-left: 35%;
            }
        }
        
        /*Productos tienda*/
        .nav-productos{
            grid-template-columns: repeat(2, 1fr);
            gap: 10%;
            row-gap: 2%;
            width: 80%;
            padding-left: 0px;
        }
        .p-productos{
            font-size: 3.5rem;
        }
        /*Formulario contacto*/
        .main-form__texto-p{
            font-size: 1.5rem;
        }
        /*Seccion categoria productos Index*/
        .div-categorias{
            grid-template-columns: repeat(2, 1fr);
            row-gap: 5%;
            margin-bottom: 10%;
        }
        .titulo-categorias{
            font-size: 4rem;
        }
        .col-md-5 .col-12{
            padding: 0px;
            margin: 0px;
        }
        /*seccion carousel*/
        .carousel-indicators{
            padding-bottom: 10%;
        }
        .carousel-caption{
            p{
                padding-bottom: 5%; 
            }
        }
        /*Seccion Nosotros*/
        .nav-nosotros{
            padding-top: 5%;
            &__div{
                font-size: 1.5rem;
                padding-top: 0%;
                padding-bottom: 8%;
            }
        }
        /*Main general*/
        .main-cuenta{
            height: 700px;
        }
        .nav-nosotros{
            height: 700px;
            padding-top: 25%;
        }
        .main-form{
            height: 700px;
        }
        .nav-comprar{
            padding-top: 8%;
        }

    }
    /*PANTALLAS GRANDES*/
    @media only screen and (min-width: 992px){
        /*Logo*/
        .text-center{
            .img-logo{
                width: 60%;
                padding-left: 36%;
            }
        }
        /*Productos tienda*/
        .p-productos{
            font-size: 3.5rem;
        }
        /*Seccion categoria productos Index*/
        .div-categorias{
            grid-template-columns: repeat(3, 1fr);
            row-gap: 3%;
            margin-right: 0%;
            margin-left: 0%;
            margin-bottom: 5%;
        }
        .titulo-categorias{
            font-size: 4rem;
        }
        .col-md-5 .col-12{
            padding: 0px;
            margin: 0px;
        }
        /*seccion carousel*/
        .carousel-indicators{
            padding-bottom: 3%;
        }
        .carousel-caption{
            p{
                padding-bottom: 2%; 
            }
        }
        /*Seccion Nosotros*/
        .nav-nosotros{
            padding-top: 5%;
            &__div{
                font-size: 1.6rem;
            }
        }
        /*Main general*/
        .main-cuenta{
            height: 500px;
        }
        .nav-nosotros{
            height: 500px;
            padding-top: 25%;
        }
        .main-form{
            height: 500px;
        }
        .nav-comprar{
            padding-top: 5%;
        }
    }
    @media only screen and (min-width: 1024px) {
        /*Logo*/
        .text-center{
            .img-logo{
                width: 55%;
                padding-left: 37%;
            }
        }
        /*Productos tienda*/
        .nav-productos{
            display: grid;
            float: center;
            grid-template-columns: repeat(3, 1fr);
            gap: 7%;
            justify-content:center;
            padding-top:1%;
            margin-bottom: 3%;
            padding-left: 0%;
        }
        .p-productos{
            font-size: 4rem;
        }
        /*Footer*/
        .row.d-flex.justify-content-center{
            margin-top: 0px;
            margin-left: 0px;
            margin-right: 0px;
            width: 100%;
        }
        .div-boton{
            padding: 0px;
        }
        /*Seccion categoria productos Index*/
        .div-categorias{
            grid-template-columns: repeat(3, 1fr);
            row-gap: 3%;
        }
        .titulo-categorias{
            font-size: 4rem;
        }
        .col-md-5 .col-12{
            padding: 0px;
            margin: 0px;
        }
        /*seccion carousel*/
        .carousel-indicators{
            padding-bottom: 3%;
        }
        .carousel-caption{
            p{
                padding-bottom: 2%; 
            }
        }
        /*Main general*/
        .main-cuenta{
            height: 500px;
        }
        .nav-nosotros{
            height: 400px;
            padding-top: 10%;
        }
        .main-form{
            height: 500px;
        }
        .nav-comprar{
            padding-top: 5%;
            height: auto;
        }
    }
}





